.Rproj.user
.Rhistory
.RData
.Ruserdata
priority-pathogens.Rproj
src/*.csv
src/*/*.csv
src/*/*/*.csv
src/*/*.png
src/*/lassa_functions.R
pathway
src/db_extraction/utils.R

# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
